@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.content {
    padding: 50px;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    background-color: #DBD3D3;
    margin-top: 50px;
    border-radius: 25px;
    color: #091057;
}

.score {
    width: 100%;
    padding: 30px;
    justify-content: space-between;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 36px;

}

.buttons {
    padding: 30px;
    list-style: none;
    gap: 30px;
    width: 100%;
    justify-content: space-evenly;
}